[Unit]
Description=MongoDB Database Server ({{ inventory_hostname }})
After=network.target
Documentation=https://github.com/snwbr/mongodb-ansible

[Service]
User=mongod
Group=mongod
EnvironmentFile=-/etc/sysconfig/mongod
ExecStart=/usr/bin/mongod --config {{ mongodb_config_prefix }}mongod-{{ inventory_hostname }}.conf
PIDFile=/var/run/mongodb/mongod-{{ inventory_hostname }}.pid
Type=forking

[Install]
WantedBy=multi-user.target
