systemLog:
  destination: file
  path: "/var/log/mongo/mongod-config.log"
  logAppend: true

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongoc.pid

net:
  port: {{ mongoc_port }}
  bindIpAll: true

storage:
  dbpath: {{ mongodb_datadir_prefix }}configdb

security:
  keyFile: {{ mongodb_datadir_prefix }}secret

sharding:
  clusterRole: configsv

replication:
  replSetName: "replconfig01"
